<html>

    {% include 'partial/header.html' %}


    <body>
        {% include 'partial/menu.html' %}


        <main class="ui page grid">
            <div class="row">

                <div class="ui fluid search">
                  <div class="ui icon input">
                    <input class="prompt" placeholder="Select Country" type="text">
                    <i class="search icon"></i>
                  </div>
                  <div class="results"></div>
                </div>


            </div>
        </main>

    </body>




    {% include 'partial/footer.html' %}
</html>

