<head>

    <meta charset="utf-8">
    <title>Ordbogen Test</title>

    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>

    <script src="{{ url_for('static', filename='script.js' ) }}"></script>


</head>