<head>

    <meta charset="utf-8">
    <title>Ordbogen Test</title>

    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/accordion.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/ad.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/breadcrumb.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/button.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/card.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/checkbox.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/comment.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/container.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/dimmer.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/divider.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/dropdown.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/embed.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/feed.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/flag.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/form.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/grid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/header.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/icon.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/image.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/input.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/item.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/label.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/list.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/loader.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/menu.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/message.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/modal.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/nag.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/popup.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/progress.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/rail.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/rating.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/reset.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/reveal.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/search.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/segment.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/shape.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/sidebar.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/site.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/statistic.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/step.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/sticky.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/tab.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/table.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/transition.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components/video.min.css') }}">-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">




    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>

    <!--<script src="{{ url_for('static', filename='components/accordion.min.js' ) }}"></script>-->
    <script src="{{ url_for('static', filename='components/api.min.js' ) }}"></script>
    <!--<script src="{{ url_for('static', filename='components/checkbox.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/colorize.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/dimmer.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/dropdown.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/embed.min.js' ) }}"></script>-->
    <script src="{{ url_for('static', filename='components/form.min.js' ) }}"></script>
    <!--<script src="{{ url_for('static', filename='components/modal.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/nag.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/popup.min.js' ) }}"></script>-->
    <script src="{{ url_for('static', filename='components/progress.min.js' ) }}"></script>
    <!--<script src="{{ url_for('static', filename='components/rating.min.js' ) }}"></script>-->
    <script src="{{ url_for('static', filename='components/search.min.js' ) }}"></script>
    <!--<script src="{{ url_for('static', filename='components/shape.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/sidebar.min.js' ) }}"></script>-->
    <script src="{{ url_for('static', filename='components/site.min.js' ) }}"></script>
    <!--<script src="{{ url_for('static', filename='components/state.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/sticky.min.js' ) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='components/tab.min.js' ) }}"></script>-->
    <script src="{{ url_for('static', filename='components/transition.min.js' ) }}"></script>
    <!--<script src="{{ url_for('static', filename='components/video.min.js' ) }}"></script>-->
    <script src="{{ url_for('static', filename='components/visibility.min.js' ) }}"></script>
    <!--<script src="{{ url_for('static', filename='components/visit.min.js' ) }}"></script>-->



    <script src="{{ url_for('static', filename='script.js' ) }}"></script>


</head>